body {
    margin: auto;
    max-width: 720px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.header {
    margin: auto;
    max-width: 720px;
    text-align: center;
    padding: 2em 2em 1.5em 2em;
    color: #FC7138;
    display: block;
    text-decoration: none;
}

.header:hover {
    opacity: .5;
}

article {
    margin: auto;
    max-width: 720px;
    padding: 1em;
}

.nolink {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: auto;
    max-width: 720px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 3em;
}

h2 {
    margin: auto;
    max-width: 720px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

.homelink {
    margin: auto;
    max-width: 720px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    text-align: center;
}

.homelink:hover {
    opacity: .5;
}

.wrapper {
    margin: auto;
    max-width: 720px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1em;
    padding: 0em 1em 0em 1em
}

.navbar {
    margin: auto;
    max-width: 720px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    padding: 0em 1em 0em 1em
}

.wrapper > div{
    display: block;
    padding: 1em;
    border-radius: 5px;
}

.navbar > div{
    padding: .33em;
    display: block;
}

.tan {
    background: #CFC194;
}

.teal {
    background: #A3E7D9;
}

.orange {
    background: #FC7138;
}

.brown {
    background: #695D47;
    color: #FFFFFF;
}

footer {
    margin: auto;
    max-width: 720px;
    text-align: right;
    padding: 2em;
    font-weight: 400;
    font-size: .67em;
}

img {
    display: block;
    max-width: 720px;
    padding: 1em;
}
